h1,h2,h3,h4,h5,h6 {
font-family: "Montserrat-Bold";
}

body {
  font-family: Montserrat;
}

p {
  color: #8f8f8f;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}
.big-heading{
  font-family: 'Montserrat, sans-serif';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15% 15%;
}

.img {
  transform: rotate(25deg);
  width: 45%;
  margin-bottom: -60%;
}

@media (max-width: 1028px) {
  .img {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }

  .image-conta {
    text-align: center;
  }
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  font-size: 1.3rem;
}

.navbar-brand {
  font-size: 2.8rem;
  font-family: "Ubuntu";
  font-weight: bold;
}

.btn1 {
  margin-top: 2rem;
  margin-right: 0.6rem;
}

.btn2 {
  margin-top: 2rem;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.second {
  font-size: 2.8rem;
  font-family: "Montserrat-Bold";
}

#features {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.image-container {
  position: relative;
}

.feature {
  text-align: center;
  padding: 5%;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.card {
  height: 100%;
}

#pricing {
  margin: 3rem;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

#cta {
  background-color: #ff4c68;
  color: white;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}
